* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !VARIANTES */

:root {
    /* !fuentes */
    --fuenteParrafos: 'Roboto', sans-serif;
    --fuenteTitulos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --fuenteHeaderyFooter: 'Lato', sans-serif;

    /* !colores */

    --color1: #c7f9cc;
    --color2: #80ed99;
    --color3: #57cc99;
    --color4: #38a3a5;
    --color5: #22577a;

    /* !tamaños */

    --sizeHeader: 1.4rem;
    --sizeParrafos: 1.1rem;
    --sizeTitle: 3rem;
}

/* body {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
 */
/* !HEADER  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(87, 204, 153);
    background: linear-gradient(
        117deg,
        rgba(87, 204, 153, 1) 34%,
        rgba(199, 249, 204, 1) 86%
    );
    padding: 1rem 0;
}
header .navPrincipal {
    display: flex;
    align-items: center;
}
header .navPrincipal .navBrand a img {
    width: 100px;
    height: 100px;
    margin-left: 2rem;
}
header .navPrincipal .navBrand a img:hover {
    animation: turnAround 2s ease;
}
header .navPrincipal .navTitle p {
    pointer-events: none;
    font-size: 3rem;
    font-style: italic;
    font-family: var(--fuenteHeaderyFooter);
    font-weight: bold;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}
header nav ul li {
    list-style: none;
    margin-right: 1.5rem;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: var(--fuenteHeaderyFooter);
    font-size: var(--sizeHeader);
}
header nav ul li::after {
    content: '';
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color5);
}
header nav ul li:hover::after {
    transform: scaleX(1);
    transition: 0.3s ease all;
}

/* !CATALOGO */

.catalogo {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: var(--sizeTitle);
    margin: 2rem 0 1.2rem 0;
    font-family: var(--fuenteTitulos);
}
.subtitle {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--fuenteTitulos);
}

.catalogo .catalogoDescription {
    padding: 3rem 2rem;
    font-size: var(--sizeParrafos);
    font-family: var(--fuenteParrafos);
    font-weight: bold;
    text-align: justify;
}
.catalogo .catalogoButtons {
    padding: 1rem 0;
}
.catalogo .catalogoButtons button {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: var(--color5);
    cursor: pointer;
    font-family: var(--fuenteHeaderyFooter);
}
.catalogo .catalogoButtons input {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
}
.gridCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.gridCards .productCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 20rem;
    height: 37rem;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    padding: 1rem 0;
}
.gridCards .productCard:hover {
    box-shadow: 4px 4px 6px black;
}

.gridCards .productCard .productTitle {
    text-align: center;
    font-size: var(--sizeHeader);
    font-family: var(--fuenteHeaderyFooter);
}
.gridCards .productCard .productImg {
    width: 250px;
    height: 250px;
}
.gridCards .productCard .productDescription {
    font-family: var(--fuenteParrafos);
    font-weight: 600;
    text-align: justify;
    font-size: 1.2rem;
    margin: 0 1rem;
    padding-bottom: 5px;
}
.gridCards .productCard .productPrice {
    font-size: 2rem;
    border-bottom: 1px solid;
    font-family: var(--fuenteHeaderyFooter);
}
.gridCards .productCard .productBtn {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    text-decoration: none;
    margin: 10px;
    color: #fff;
    position: relative;
    display: inline-block;
    background-color: var(--color4);
    cursor: pointer;
    font-family: var(--fuenteHeaderyFooter);
}
.catalogo #spinner {
    font-size: var(--sizeTitle);
    font-family: var(--fuenteTitulos);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
/* !FOOTER */

footer {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    height: 5rem;
    background: rgb(87, 204, 153);
    background: linear-gradient(
        117deg,
        rgba(87, 204, 153, 1) 34%,
        rgba(199, 249, 204, 1) 86%
    );
}
footer ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
footer ul li {
    margin-right: 1rem;
}
footer ul li a {
    text-decoration: none;
}
footer ul li a i {
    font-size: 2.3rem;
    cursor: pointer;
    margin-right: 1rem;
    color: white;
}

footer ul li i:hover {
    color: var(--color5);
    transition: 0.5 s all ease;
}

/* ESTILOS LUCIANA */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1500px;
    width: 95%;
    margin: 4rem auto;
    background-color: #f3f9f4;
}

#parraf {
    display: grid;
    align-content: center;
    margin-top: 1rem;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 40px;
    font-family: var(--fuenteParrafos);
    size: var(--sizeParrafos);
}
.formSub {
    margin-top: 3rem;
}
.radius {
    margin: 0 0.5rem;
}

.item {
    background: #777;
    width: 50%;
    height: 50px;
}

@media (min-width: 500px) {
    .dos-columnas {
        display: flex;
        justify-content: space-between;
    }

    .parraf {
        flex-basis: calc(50%-1rem);
    }
}

#subForm {
    display: grid;
    font-family: var(--fuenteHeaderyFooter);

    background: linear-gradient(
        117deg,
        rgb(186, 240, 216) 34%,
        rgba(199, 249, 204, 1) 86%
    );
    width: 90%;
    max-width: 800px;
    margin: 50px;
    border: solid;
    border-color: var(--color4);
    box-shadow: 4px rgb(105, 121, 90) 11%;
    border-radius: 9px;
    padding: 40px;
}

#rec {
    margin-left: 55%;
}
.iconsForm {
    vertical-align: middle;
}
#bot {
    font-family: var(--fuenteTitulos);
    font-size: 20px;
    padding: 8px;
    margin: 7px;
    border-radius: 9px;
    box-shadow: 8px rgb(69, 73, 58);
    display: inline-block;
    background-color: #bfd7e7;
    cursor: pointer;
}

.formBox {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 10px 0;
}

.formBox label {
    width: 100px;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: var(--fuenteUno);
}

.formBox input {
    padding: 0.5rem 2rem;
    border-radius: 7px;
}

.form-control {
    border-radius: 7px;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #22577a;
    padding-top: 20px;
}

.list {
    margin: 30px;
    padding: 20px;

    text-align: left;

    display: flex;
    display: inline-block;
}

.data {
    align-items: center;
}

.nosotros p {
    font-family: var(--fuenteParrafos);
    font-size: var(--sizeParrafos);
    line-height: 1.9;
}

.nosotros h2 {
    font-family: var(--fuenteTitulos);
    font-weight: 600;
    font-size: var(--sizeTitle);
}

.puestos-trabajo {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.puestos-trabajo .imagen-puesto {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.puestos-trabajo .imagen-puesto img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.puestos-trabajo .imagen-puesto img:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.4s ease all;
}

.puestos-trabajo .imagen-puesto p {
    margin-top: 14px;
    color: rgb(75, 49, 49);
    font-size: 18px;
    text-align: center;
    text-indent: 0;
    margin-left: 0;
}

section.content h2,
section.content p {
    margin: 1rem;
}

.nosotros .content {
    background-color: #f2f2f2; /* Color de fondo gris claro */
    padding: 3rem 0;
    margin: 1rem 0;
}
.nosotros .content h2 {
    margin: 1rem;
}
.nosotros .content p {
    margin: 0 2rem;
    text-indent: 1.5rem;
}

.inframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 3rem 0;
}

.contenedor {
    width: 90%;
    display: grid;
    gap: 15px;
    margin: 0% auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    grid-template-areas:
        'intro listado'
        'importante listado';
}
.eco {
    color: var(--color3);
}

.intro {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    background-color: var(--color1);
    padding: 5px;
    text-align: center;
    grid-area: intro;
    grid-column: 2/4;
}
.intro p,
.listado ul li,
.importante p {
    font-family: var(--fuenteParrafos);
    line-height: 1.5rem;
    font-size: var(--sizeParrafos);
    text-align: justify;
    margin: 0 2rem;
}
.intro h2,
.listado h2,
.importante h2 {
    margin-top: 2rem;
}

.importante {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    background-color: var(--color1);
    padding: 5px;
    text-align: center;
    grid-area: importante;
    grid-column: 2/4;
}

.listado {
    display: grid;
    gap: 5px;
    background-color: var(--color1);
    padding: 100px;
    grid-area: listado;
    grid-column: 1/2;
}
.listado ul {
    list-style-type: '✔';
}
.listado ul li {
    margin: 1rem 0;
}
.listado ul li::marker {
    font-size: 25px;
}
#contenedorCarrusel {
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}

.itemCarrusel {
    height: 100%;
    position: relative;
}

.tarjetaCarrusel {
    background-color: bisque;
    height: 100%;
}

.flechas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.index .carrousel img {
    height: 100%;
    width: 100%;
}

.index .carrousel {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.index .carrousel a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
}

/* !RESPONSIVE */

/*! HEADER */
/* !Tablet */
@media (max-width: 910px) {
    /*! HEADER */
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .navPrincipal .navBrand a img {
        margin: 0;
    }
    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        text-align: center;
        flex-direction: column;
    }
    header nav ul li {
        margin-top: 1rem;
    }

    /*! Catalogo */
    .catalogo .catalogoButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .catalogo .catalogoButtons button,
    .catalogo .catalogoButtons input {
        width: 70%;
    }
    .gridCards {
        justify-content: center;
    }
    .wspBtn img {
        display: none;
    }
}

/* !telefonos */
@media (max-width: 480px) {
    .catalogo .gridCards .productCard {
        width: 100%;
    }
}

/* !Animaciones */
@keyframes turnAround {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wspBtn {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wspBtn img {
    height: 100px;
    width: 100px;
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 100px !important;
    animation: wspBtn 2s ease infinite;
}
